<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ZRM100.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ZRM100.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<ZRM100.Properties.Settings>
   <setting name="TxPower" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="InvTypeCfg" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="InvParam" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IsCustomInvFlag" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Lines" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="TempLimit" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="IPAddr" serializeAs="String">
    <value>192.168.200.201</value>
   </setting>
   <setting name="IPMask" serializeAs="String">
    <value>255.255.255.0</value>
   </setting>
   <setting name="Port" serializeAs="String">
    <value>2615</value>
   </setting>
   <setting name="IPGateway" serializeAs="String">
    <value>192.168.200.1</value>
   </setting>
   <setting name="ReaderMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ServerIP" serializeAs="String">
    <value>192.168.200.1</value>
   </setting>
   <setting name="ServerPort" serializeAs="String">
    <value>2615</value>
   </setting>
   <setting name="DutyCount" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DutyTime" serializeAs="String">
    <value>0</value>
   </setting>
  </ZRM100.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<ZRM100.Properties.Settings>
   <setting name="IsTest" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Tagtype" serializeAs="String">
    <value>Tempsen</value>
   </setting>
   <setting name="IfSupportNet" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Whitelist" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AntMaxNum" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="IfRecordSN" serializeAs="String">
    <value>False</value>
   </setting>
  </ZRM100.Properties.Settings>
	</applicationSettings>
	<startup/></configuration>
